/* Format X and Y Axis */
.axis_scatter path,
.axis_scatter line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis_scatter text {
    font-family: sans-serif;
    font-size: 11px;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;}
.margin {margin-bottom: 35px;
         margin-top: 15px}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.d3_pics {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#wrapper {
    text-align: center;
}

.wrapper_first {
    display: inline-block;
    margin-right: 20px;
}

.wrapper_second {
    display: inline-block;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.preview_svg {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrappertje { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrappertje div {
   min-height: 200px;
   padding: 10px;
}
#wrappertje_first {
  background-color: gray;
  float:left; 
  margin-right:20px;
  width:140px;
  border-right:2px solid #000;
}
#wrappertje_second { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #ccc;
  min-height:170px;
}

@media screen and (max-width: 400px) {
   #wrappertje_first { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}